  <ul id="movies-container">
    <% if (movies && movies.length> 0) { %> <% movies.forEach(movie=> { %>
        <li class="movie">
          <div class="contain-movie">
            <div class="movie-poster">
              <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>" />
            </div>

            <div class="movie-info">
              <div class="movie-info-head">
                <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>" />
                <h2>
                  <%= movie.title %>
                </h2>
                <span> &#x1F4C5; <%= movie.release_date %> </span>
              </div>

              <div class="movie-info-desc">
                <h3>
                  <%= movie.title %> &centerdot;
                </h3>
                <p>
                  <%= movie.overview %>
                </p>

                <ul class="movie-facts">
                  <li><i class='bx bxs-star' ></i>
                    <%= movie.vote_average %><span>/10 <%= movie.vote_count %> votes
                      </span>
                  </li>
                  <li><i class='bx bxs-hot'></i>
                    <%= movie.popularity %>
                  </li>
                </ul>
              </div>

              <div class="movie-share">
                <form action="/" method="post">
                  <!-- Hidden input fields for this movie's data -->
                  <input type="hidden" name="movieId" value="<%= movie.id %>" />
                  <input type="hidden" name="userId" value="<%= userId %>" />
                  <input type="hidden" name="title" value="<%= movie.title %>" />
                  <input type="hidden" name="releaseDate" value="<%= movie.release_date %>" />
                  <input type="hidden" name="overview" value="<%= movie.overview %>" />
                  <input type="hidden" name="voteAverage" value="<%= movie.vote_average %>" />
                  <input type="hidden" name="voteCount" value="<%= movie.vote_count %>" />
                  <input type="hidden" name="popularity" value="<%= movie.popularity %>" />
                  <input type="hidden" name="poster" value="<%= movie.poster_path %>" />

                  <!-- Share button submits this form -->
                  <button class="bookmark-btn" type="submit" data-movieid="<%= movie.id %>"><i data-type="bookmark" class='bx bxs-bookmark-star'></i></button>
                </form>
                <button><i data-type="share" class='bx bxs-share'></i></button>
              </div>

              <div class="movie-comment">
                <input type="text" placeholder="Add a comment...">
                <button>Send</button>
              </div>

            </div>
          </div>
        </li>
        <% }); %>
          <% } else { %>
            <p>Oops no movies to show here!</p>
            <% } %>
  </ul>
