<!DOCTYPE html>
<html lang="en">

<head>
  <title>API 23-24 | Account</title>
  <%- include('../partials/head'); %>
</head>

<body class="account">
  <%- include('../partials/header'); %>

    <main>
      <section class="contact-info">
        <% if (user) { %> <!-- Change 'users' to 'user' -->
          <!-- Display user information -->
          <img src="<%= user.image %>" alt="Avatar picture of user <%= user.name %>">
          <ul>
            <li>
              <h2><%= user.username %></h2>
              <form id="logoutForm" action="/logout" method="post">
                <button type="submit">Logout</button>
              </form>
            </li>
            <li>
              <h3><%= user.name %></h3>
            </li>
            <li>
              <p><%= user.job %></p>
            </li>
            <li>
              <p><%= user.description %></p>
            </li>
            <li>
              <p><%= user.based %></p>
            </li>
          </ul>
        <% } else { %>
          <p>No user found</p>
        <% } %>
      </section>

      <div class="tabset">
        <!-- Tab 1 -->
        <input tabindex="-1" type="radio" name="tabset" id="tab1" aria-controls="posts" checked>
        <label tabindex="0" for="tab1"><i class='bx bxs-grid-alt' ></i></label>
        <!-- Tab 2 -->
        <input tabindex="-1" type="radio" name="tabset" id="tab2" aria-controls="saved">
        <label tabindex="0" for="tab2"><i class='bx bxs-bookmark-star' ></i></label>

        <div class="tab-panels">
          <section id="posts" class="tab-panel">
            <h2>Hier komen posts</h2>
            <p><strong>History:</strong> A historical specialty of the city of Bamberg, in the Franconian region of
              Bavaria in Germany. Beechwood-smoked malt is used to make a Märzen-style amber lager. The smoke character
              of the malt varies by maltster; some breweries produce their own smoked malt (rauchmalz).</p>
          </section>
          <section id="saved" class="tab-panel">
            <%- include('../components/bookmarked'); %>
          </section>
        </div>

      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

    <%- include('../partials/scripts'); %>
</body>

</html>
